table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.scores {
    width:20px;
    margin: 1px;
}
.center {
    text-align: center;
}
.playerName {
    height:40px;
    font-size:18px;
}